<!-- <?= $data['test_content'] ?>  -->

<div class="panel panel-default">
	<div class="panel-heading">
		General Settings
	</div>
	<div class="panel-body">
		<table class="table table-hover table-bordered small"> 
			<thead>
				<th>Parameters</th>
				<th>Values</th>
				<th>Quick Description</th>
			</thead>
				<tbody>
					<tr>
						<td>SiteName</td>
						<td><?php echo Config::get('site_name') ?></td>
						<td><code>The SiteName also used in the Navbar</code></td>
					</tr>
					<tr>
						<td>BaseURL</td>
						<td><?php echo Config::get('base_url') ?></td>
						<td><code>The folder on your WebServer containing the app, folder in /var/www or defined in the VirtualHost</code></td>
					</tr>			
					<tr>
						<td>PanelVersion</td>
						<td><?php echo Config::get('version') ?></td>
						<td><code>The PanelVersion running</code></td>
					</tr>							
				</tbody>	
		</table>
	</div>

</div>

<div class="panel panel-default">
	<div class="panel-heading">
		Default Routing
	</div>
	<div class="panel-body">
		<table class="table table-hover table-bordered small"> 
			<thead>
				<th>Parameters</th>
				<th>Values</th>
				<th>Quick Description</th>
			</thead>
				<tbody>
					<tr>
						<td>default_route</td>
						<td><?php echo Config::get('default_route') ?></td>
						<td><code>The default html/php file displayed by the WebServer </code></td>
					</tr>
					<tr>
						<td>default_language</td>
						<td><?php echo Config::get('default_language') ?></td>
						<td><code>The default controller used if any provided in url http://.../lg/controller/action/params.. </code></td>
					</tr>			
					<tr>
						<td>default_controller</td>
						<td><?php echo Config::get('default_controller') ?></td>
						<td><code>The default controller used if any provided in url http://.../lg/controller/action/params.. </code></td>
					</tr>		
					<tr>
						<td>default_action</td>
						<td><?php echo Config::get('default_action') ?></td>
						<td><code>The default action used if any provided in url http://.../lg/controller/action/params.. </code></td>
					</tr>										
				</tbody>	
		</table>
	</div>

</div>



<div class="panel panel-default">
	<div class="panel-heading">
		URL and Ports
	</div>
	<div class="panel-body">
		<table class="table table-hover table-bordered small"> 
			<thead>
				<th>Parameters</th>
				<th>Values</th>
				<th>Quick Description</th>
			</thead>
				<tbody>
					<tr>
						<td>Panel URL</td>
						<td><?php echo Config::get('stream_svr_url') ?></td>
						<td><code>URL used to connect to the panel; http://YourDDNS:YourPort </code></td>
					</tr>
					<tr>
						<td>Panel Port</td>
						<td><?php echo Config::get('stream_svr_port') ?></td>
						<td><code>Port used to connect to the panel (by default 80) </code></td>
					</tr>			
					<tr>
						<td>Streaming starting Port</td>
						<td><?php echo Config::get('stream_1st_port') ?> </td>
						<td><code>When using VLC for restreaming, the restreaming port is the starting port + the streamID </code></td>

					</tr>		
					<tr>
						<td>Exchange Ports</td>
						<td><?php echo Config::get('stream_ech_port') ?>  </td>
						<td><code>port used by peers to connect to server</code></td>
					</tr>										
				</tbody>	
		</table>

	</div>

</div>

<div class="panel panel-default">
	<div class="panel-heading">
		DataBase
	</div>
	<div class="panel-body">
		<table class="table table-hover table-bordered small"> 
			<thead>
				<th>Parameters</th>
				<th>Values</th>
				<th>Quick Description</th>
			</thead>
				<tbody>
					<tr>
						<td>Database Used</td>
						<td><?php echo Config::get('db_prog') ?></td>
						<td><code>The DB used by the panel, by default SQLite3 </code></td>
					</tr>
					<tr>
						<td>DataBaseName/File</td>
						<td><?php echo Config::get('db_Name') ?></td>
						<td><code>The DataBase Name/File, by default IPTV.db licated in folder /db</code></td>
					</tr>													
				</tbody>	
		</table>
	</div>

</div>

<div class="panel panel-default">
	<div class="panel-heading">
		Security
	</div>
	<div class="panel-body">
		<table class="table table-hover table-bordered small"> 
			<thead>
				<th>Parameters</th>
				<th>Values</th>
				<th>Quick Description</th>
			</thead>
				<tbody>
					<tr>
						<td>Firewall Status</td>
						<td><?php echo Config::get('enable_fw') ?></td>
						<td><code>Only open allowed incoming connections </code></td>
					</tr>
					<tr>
						<td>Restrict Panel Access</td>
						<td><?php echo Config::get('close_svr_port') ?></td>
						<td><code>Only allow SuperUser to access the Panel</code></td>
					</tr>	
					<tr>
						<td>Restrict Streaming Access</td>
						<td><?php echo Config::get('close_ech_port') ?></td>
						<td><code>Only open Exchange Port for known peers</code></td>
					</tr>																		
				</tbody>	
		</table>

	</div>

</div>

<div class="panel panel-default">
	<div class="panel-heading">
		Streaming Engine
	</div>
	<div class="panel-body">
		<table class="table table-hover table-bordered small"> 
			<thead>
				<th>Parameters</th>
				<th>Values</th>
				<th>Quick Description</th>
			</thead>
				<tbody>
					<tr>
						<td>Engine</td>
						<td><?php echo Config::get('restream_prog') ?></td>
						<td><code>Program used for restreaming </code></td>
					</tr>
					<tr>
						<td>Engine release</td>
						<td></td>
						<td><code>Display the release of the engine, please keep it up to date</code></td>
					</tr>	
					<tr>
						<td>Streaming Agent</td>
						<td><?php echo Config::get('streaming_agent') ?></td>
						<td><code>Only open Exchange Port for known peers</code></td>
					</tr>
					<tr>
						<td>Engine User</td>
						<td><?php echo Config::get('engine-user') ?></td>
						<td><code>The User running the engine</code></td>
					</tr>
					<tr>
						<td>Network catching</td>
						<td><?php echo Config::get('network-caching') ?></td>
						<td><code>Caching before to restream</code></td>
					</tr>
					<tr>
						<td>Log File folder</td>
						<td><?php echo Config::get('logfile') ?></td>
						<?php $example_log = Config::get('stream_1st_port')+100 ?>	
						
						<td><code>Folder to store the logfiles, log will be in format <?php echo Config::get('logfile') ?>(starting port + the streamID).log, <br>
						so if streamID=100, the logfile will be <?php echo Config::get('logfile'). $example_log . ".log" ?></code></td>
					</tr>																																						
				</tbody>	
		</table>
	</div>

</div>