body { font:12px Helvetica, arial, sans-serif }
h1, h2, p { margin:10px 0 }
.hidden { visibility:hidden }


.message { padding:10px; margin:15px 0; display:block; text-align:left }
.message-title { font-weight:bold; font-size:1.25em }
.message-body { margin-top:4px }
.error, .notice, .success { padding:.8em; margin-bottom:1em; border:2px solid #ddd }
.error { background:#FBE3E4; color:#8a1f11; border-color:#FBC2C4 }
.notice { background:#FFF6BF; color:#514721; border-color:#FFD324 }
.success { background:#E6EFC2; color:#264409; border-color:#C6D880 }
.error a { color:#8a1f11 }
.notice a { color:#514721 }
.success a { color:#264409 }
.blokdash{background:white;border-radius:10px;height:auto;width:95%;float:left;margin-right:1%;padding:10px;border:1px solid lightgrey;margin-top:10px;margin-bottom:10px;}
.infoback{background-color:#000000;width:280px;height:70px;color:white;text-align:center;border:1px solid white;padding:10px;border-radius:10px;-moz-box-shadow: 0 0 5px 1px white;-webkit-box-shadow: 0 0 1px white;box-shadow: 0 0 5px 1px white;font-size:12px;z-index:9999999999;}
.blok2{background:white;border-radius:10px;height:100%;width:49%;float:left;margin-right:1%;padding:10px;border:1px solid lightgrey;margin-top:10px;margin-bottom:10px;}

.nowrap { margin: 0 0 0px -15px;padding:0 0;float:left }


#navbar > ul > li > ul {
   position:absolute;
   top:45px;
   left:0;
   display:none;
   list-style-type: none;
}


#navbar > ul > li > ul > li > a {
   background:#666;
   display:block;
   font:normal normal 12px tahoma;
   padding:5px 10px 5px 10px;
   text-decoration:none;
   color:#FFF;
   border-bottom:1px solid #FFF;
   min-width:130px;
}
#navbar > ul > li > ul > li > a:hover {
 background:#777;
}

