  		<div class="panel panel-default">
  		  	<div class="panel-heading">
				<?php echo GeneralInformation ?>
			</div>
    		<div class="panel-body">


<div class="row">
  <div class="col-sm-4">
				<div class="infoback" style="margin-left: auto; margin-right: auto;">
 					<div style="font-size:32px"> 
						<?php echo $data['Online_clients'] ?> / <?php echo $data['Active_clients'] ?> / <?php echo $data['Total_clients'] ?>
					</div>
					<div>
						<?php echo ONLINE ?> / <?php echo ACTIVE ?> / <?php echo TOTALCLIENTS ?>
					</div>
				</div>
  </div>
  <div class="col-sm-4">
				<div class="infoback" style="margin-left: auto; margin-right: auto;">
					<div style="font-size:32px" >
						<?php echo $data['Active_ServerStreams'] ?> / <?php echo $data['Online_ServerStreams'] ?> / <?php echo $data['Total_ServerStreams'] ?>
					</div>
					<div><?php echo ACTIVE_SERVER_STREAMS ?> / <?php echo ONLINE_SERVER_STREAMS ?> / <?php echo TOTAL_SERVER_STREAMS ?></div>
				</div>  	
  </div>
  <div class="col-sm-4">
				<div class="infoback" style="margin-left: auto; margin-right: auto;">
					<div style="font-size:32px" >
						<?php echo $data['Online_PeerStreams'] ?> / <?php echo $data['Map_PeerStreams'] ?> / <?php echo $data['Ign_PeerStreams'] ?> / <?php echo $data['Total_PeerStreams'] ?>
					</div>
					<div><?php echo ONLINE_PEER_STREAM ?> / <?php echo MAP_PEER_STREAM ?> / <?php echo IGN_PEER_STREAM ?> / <?php echo TOTAL_PEER_STREAMS ?></div>
				</div>  	
  </div>
</div>    		

<!--  		<div class="blokdash"> 
				<div class="infoback" style="float:left">
 					<div style="font-size:32px"> 
						<?php echo $data['Online_clients'] ?> / <?php echo $data['Active_clients'] ?> / <?php echo $data['Total_clients'] ?>
					</div>
					<div>
						<?php echo ONLINE ?> / <?php echo ACTIVE ?> / <?php echo TOTALCLIENTS ?>
					</div>
				</div>

				<div class="infoback" style="float:left; margin-left:30px;">
					<div style="font-size:32px" >
						<?php echo $data['Active_ServerStreams'] ?> / <?php echo $data['Online_ServerStreams'] ?> / <?php echo $data['Total_ServerStreams'] ?>
					</div>
					<div><?php echo ACTIVE_SERVER_STREAMS ?> / <?php echo ONLINE_SERVER_STREAMS ?> / <?php echo TOTAL_SERVER_STREAMS ?></div>
				</div>

				<div class="infoback" style="float:left; margin-left:30px;">
					<div style="font-size:32px" >
						<?php echo $data['Online_PeerStreams'] ?> / <?php echo $data['Map_PeerStreams'] ?> / <?php echo $data['Ign_PeerStreams'] ?> / <?php echo $data['Total_PeerStreams'] ?>
					</div>
					<div><?php echo ONLINE_PEER_STREAM ?> / <?php echo MAP_PEER_STREAM ?> / <?php echo IGN_PEER_STREAM ?> / <?php echo TOTAL_PEER_STREAMS ?></div>
				</div>				
 		</div> --> 

			</div>
		</div>

  		<div class="panel panel-default">
  		  	<div class="panel-heading">
				<?php echo SERVERINFORMATION ?>
			</div>
    		<div class="panel-body">

    			<div class="row">
    				<div class="col-sm-6">
					<table class="table table-hover borderless small">
						<tr>
							<td class="text-center"><h4><?php echo SERVEROS ?></h4></td>
							<td class="text-center"><?=$data['OS']?></td>
						</tr>
 						<tr>
							<td><h4><?php echo SERVERKERNEL ?></h4></td>
							<td><?=$data['KERNEL']?></td>
						</tr>	 				
						<tr>
							<td class="text-center"><h4><?php echo SERVERIP ?></h4></td>
							<td class="text-center"> <?=$data['IP']?></td>
						</tr>
						<tr>
							<td class="text-center"><h4><?php echo ServerUpTime ?></h4></td>
							<td class="text-center">
							<?php 
								echo $data['UT'][0] . " "; 
								echo DAY; 
								echo ", " . $data['UT'][1]. " "; 
								echo HOUR; 
								echo ", " . $data['UT'][2]. " "; 
								echo MINUTE; 
								echo ", " . $data['UT'][3]. " ";
								echo SECOND;
							?>
							</td>
						</tr>
						<tr>
							<td class="text-center"><h4><?php echo MemoryUsage ?></h4></td>
							<td class="text-center"><?=$data['MemoryUsage']?>MB</td>
						</tr>
						<tr>
							<td class="text-center"><h4><?php echo LoadAverage ?></h4></td>
							<td class="text-center"><?=$data['LoadAverage']?>%</td>
						</tr>
						<tr>
							<td class="text-center"><h4><?php echo TotalNetworkUsage ?></h4></td>
							<td class="text-center">
								<?php echo DOWNLOAD ?>: <?=$data['RX']?> <?php echo "<br>" ?>
								<?php echo UPLOAD ?>: <?=$data['TX']?>
							</td>
						</tr>
					</table>
    				</div>

    				<div class="col-sm-6">
					<table class="table table-hover borderless small">
						<tr>
							<td class="text-center"><h4>PHP</h4></td>
							<td class="text-center"><?=$data['PHP_VER']?></td>
						</tr>
						<tr>
							<td class="text-center"><h4>PHP5-fpm</h4></td>
							<td class="text-center"><?=$data['PHPFPM_VER']?></td>
						</tr>						
						<tr>
							<td class="text-center"><h4>Server Web</h4></td>
							<td class="text-center"><?=$data['APACHE_VER']?> <br> <?=$data['NGINX_VER']?></td>
						</tr>
						<tr>
							<td class="text-center"><h4>VLC</h4></td>
							<td class="text-center"><?=$data['VLC_VER']?></td>
						
						</tr>
						<tr>
							<td class="text-center"><h4>FFmpeg</h4></td>
							<td class="text-center"><?=$data['FFMPEG_VER']?></td>
						</tr>		
						<tr>
							<td class="text-center"><h4>Firewall</h4></td>
							<td class="text-center"><?=$data['IPTABLES_VER']?> <br> <?=$data['UFW_VER']?> </td>
						</tr>										
					</table>
    				</div>
    				    				
    			</div>


<!-- 				<div class="blok2">
				<div class="blok_container">
					<table class="table table-hover borderless small">
						<tr>
							<td class="text-center"><h4><?php echo SERVEROS ?></h4></td>
							<td class="text-center"><?=$data['OS']?></td>
						</tr>
 						<tr>
							<td><h4><?php echo SERVERKERNEL ?></h4></td>
							<td><?=$data['KERNEL']?></td>
						</tr>	 				
						<tr>
							<td class="text-center"><h4><?php echo SERVERIP ?></h4></td>
							<td class="text-center"> <?=$data['IP']?></td>
						</tr>
						<tr>
							<td class="text-center"><h4><?php echo ServerUpTime ?></h4></td>
							<td class="text-center">
							<?php 
								echo $data['UT'][0] . " "; 
								echo DAY; 
								echo ", " . $data['UT'][1]. " "; 
								echo HOUR; 
								echo ", " . $data['UT'][2]. " "; 
								echo MINUTE; 
								echo ", " . $data['UT'][3]. " ";
								echo SECOND;
							?>
							</td>
						</tr>
						<tr>
							<td class="text-center"><h4><?php echo MemoryUsage ?></h4></td>
							<td class="text-center"><?=$data['MemoryUsage']?>MB</td>
						</tr>
						<tr>
							<td class="text-center"><h4><?php echo LoadAverage ?></h4></td>
							<td class="text-center"><?=$data['LoadAverage']?>%</td>
						</tr>
						<tr>
							<td class="text-center"><h4><?php echo TotalNetworkUsage ?></h4></td>
							<td class="text-center">
								<?php echo DOWNLOAD ?>: <?=$data['RX']?> <?php echo "<br>" ?>
								<?php echo UPLOAD ?>: <?=$data['TX']?>
							</td>
						</tr>
					</table>
				</div>
				</div>

				<div class="blok2">
				<div class="blok_container">
					<table class="table table-hover borderless small">
						<tr>
							<td class="text-center"><h4>PHP</h4></td>
							<td class="text-center"><?=$data['PHP_VER']?></td>
						</tr>
						<tr>
							<td class="text-center"><h4>PHP5-fpm</h4></td>
							<td class="text-center"><?=$data['PHPFPM_VER']?></td>
						</tr>						
						<tr>
							<td class="text-center"><h4>Server Web</h4></td>
							<td class="text-center"><?=$data['APACHE_VER']?> <br> <?=$data['NGINX_VER']?></td>
						</tr>
						<tr>
							<td class="text-center"><h4>VLC</h4></td>
							<td class="text-center"><?=$data['VLC_VER']?></td>
						
						</tr>
						<tr>
							<td class="text-center"><h4>FFmpeg</h4></td>
							<td class="text-center"><?=$data['FFMPEG_VER']?></td>
						</tr>		
						<tr>
							<td class="text-center"><h4>Firewall</h4></td>
							<td class="text-center"><?=$data['IPTABLES_VER']?> <br> <?=$data['UFW_VER']?> </td>
						</tr>										
					</table>			
				</div>
				</div> -->
			</div>
		</div>				