  <div class="panel panel-default">
  	<div class="panel-heading">
		Peers
	</div>

	<div class="panel-body">  
	
	<table class="table table-hover table-bordered small">
		<th>View</th>	
		<th>Edit</th>	
		<th>Delete</th>
		<th>Peer Name</th>
		<th>Peer Url</th>
		<th>Max Conn</th>
		<th>#Streams</th>
		<th>#New Streams</th>
		<th>#Map Streams</th>
		<th>#Ignored Streams</th>
		<th>List Load</th>
		<th>List Dwl</th>
		<th>Dwl List</th>
		<th>Reload List</th>
		<th>Create User</th>
	<?php
		foreach($data['AllPeers'] as $peers) {
			?>
			<tr>
				<td><a class="btn btn-info" href=<?php echo Controller::GetBaseUrl() ."peers" . DS . "view" . DS . $peers["ID"] ?> ><i class="fa fa-eye fa-lg"></i></a></td>
				<td><a class="btn btn-default" href=<?php echo Controller::GetBaseUrl() ."peers" . DS . "edit" . DS . $peers["ID"] ?> ><i class="fa fa-pencil-square-o fa-lg"></i></a></td>
				<td><a class="btn btn-danger" href=<?php echo Controller::GetBaseUrl() ."peers" . DS . "delete" . DS . $peers["ID"] ?> ><i class="fa fa-trash-o fa-lg"></i></a></td>
				<td><?php echo $peers["PEER_NAME"]?></td>

    <?php
      $pos = strpos($peers["PEER_URL"], "http://");
      if ($pos !== false) 
      {
        $HOST = str_replace("http://", "", $peers["PEER_URL"]);
      }
      $pos = strpos($HOST, "/");
      if ($pos !== false) 
      {
        $HOST = strstr($HOST, '/', true);
      }      
      $pos = strpos($HOST, ":");
      if ($pos !== false) 
      {
        $HOST = strstr($HOST, ':', true);
      }       
    ?>

				<td align="center"><?php echo $HOST ?></td>
				<td><?php echo $peers["PEER_MAX_CON"] ?></td>
				<td><a href=<?php echo Controller::GetBaseUrl() ."peers" . DS . "viewallstreams" . DS . $peers["ID"] ?> ><?php echo $peers["PEER_TOT_STREAMS"] ?> </a></td>
				<td><a href=<?php echo Controller::GetBaseUrl() ."peers" .DS . "viewusestreams" . DS . $peers["ID"] ?> ><?php echo $peers["PEER_USE_STREAMS"] ?> </a></td>
				<td><a href=<?php echo Controller::GetBaseUrl() ."peers" .DS . "viewmapstreams" . DS . $peers["ID"] ?> ><?php echo $peers["PEER_MAP_STREAMS"] ?> </a></td>
				<td><a href=<?php echo Controller::GetBaseUrl() ."peers" .DS . "viewignstreams" . DS . $peers["ID"] ?> ><?php echo $peers["PEER_IGN_STREAMS"] ?> </a></td>		
				<td><?php echo $peers["LAST_LIST_LOAD"] ?></td>
				<td><?php echo $peers["LAST_LIST_DWL"] ?></td>
				<td><a class="btn btn-default" href=<?php echo Controller::GetBaseUrl() ."peers" .DS . "download" . DS . $peers["ID"] ?> ><i class="fa fa-arrow-circle-o-down fa-lg"></i></a></td>	
				<td><a class="btn btn-success" href=<?php echo Controller::GetBaseUrl() ."peers" .DS . "load" . DS. $peers["ID"] ?> ><i class="fa fa-refresh fa-lg"></i></a></td>
				<td><a class="btn btn-default" href=<?php echo Controller::GetBaseUrl() ."users" .DS . "add" . DS. $peers["ID"] ?> ><i class="fa fa fa-user-plus fa-lg"></i></a></td>					
			</tr>
					
	<?php } ?>
		</tbody>
	</table>
	</div>