
Last file upload: <?= $data['LoadTime'] ?><br>
Number of Streams in file: <?= $data['#Streams'] ?><br>
Number of IgnoredStreams: <?= $data['#IgnStreams'] ?><br>
Number of MappedStreams: <?= $data['#MapStreams'] ?><br>
Db Updated
