<form class="form-horizontal">
  <div class="form-group">
    <label for="inputPeerName" class="col-sm-2 control-label">PeerName</label>
    <div class="col-sm-10">
      <input type="text" class="form-control" id="inputPeerName" placeholder="The PeerName">
    </div>
  </div>
  <div class="form-group">
    <label for="inputPeerUrl" class="col-sm-2 control-label">PeerUrl</label>
    <div class="col-sm-10">
      <input type="text" class="form-control" id="inputPeerUrl" placeholder="The PeerUrl">
    </div>
  </div>
  <div class="form-group">
    <label for="inputPeerMaxConnection" class="col-sm-2 control-label">PeerMaxConnection</label>
    <div class="col-sm-10">
      <input type="number" class="form-control" id="inputPeerMaxConnection" placeholder="PeerMaxConnection number between 0-100">
    </div>
  </div> 
  <div class="form-group">
    <label for="inputPeerDwlUrl" class="col-sm-2 control-label">PeerDwlUrl</label>
    <div class="col-sm-10">
      <input type="text" class="form-control" id="inputPeerDwlUrl" placeholder="The URL to download the StreamList">
    </div>
  </div>   
<!--   <div class="form-group">
    <div class="col-sm-offset-2 col-sm-10">
      <div class="checkbox">
        <label>
          <input type="checkbox"> Remember me
        </label>
      </div>
    </div>
  </div> -->
  <div class="form-group">
    <div class="col-sm-offset-2 col-sm-10">
      <button type="submit" class="btn btn-default">Add this Peer </button>
    </div>
  </div>
</form>