	<table class="table table-hover table-bordered small">
		<th>StreamName</th>	
		<th>StreamNumber</th>
		<th>StreamStatus</th>
		<th>StreamQuality</th>	
		<th>MappedTo</th>
	<?php
		foreach($data['MapStreams'] as $streams) {
			?>
			<tr>
				<td><?php echo $streams["STREAM_NAME"] ?> </td>
				<td><?php echo $streams["STREAM_NUMBER"] ?> </td>
				<td><?php echo $streams["STREAM_STATUS"] ?> </td>
				<td><?php echo $streams["STREAM_QA"] ?> </td>
				<td><?php echo $streams["STREAM_MAP"] ?> </td>
			</tr>
					
	<?php } ?>
		</tbody>
	</table>