
	<table class="table table-hover table-bordered small">
		<th>StreamName</th>	
		<th>StreamNumber</th>
		<th>StreamStatus</th>
		<th>BitRate</th>	
		<th>VideoCodec</th>
		<th>AudioCodec</th>
		<th>Ignored</th>
	<?php
		foreach($data['IgnStreams'] as $streams) {
			?>
			<tr>
				<td><?php echo $streams["STREAM_NAME"] ?> </td>
				<td><?php echo $streams["STREAM_NUMBER"] ?> </td>
				<td><?php echo $streams["STREAM_STATUS"] ?> </td>
				<td><?php echo $streams["STREAM_QA"] ?> </td>
				<td><?php echo $streams["STREAM_VC"] ?> </td>
				<td><?php echo $streams["STREAM_AC"] ?> </td>
				<td>
					<?php if(!empty($streams["STREAM_IGN"])) : ?>
						<a class="btn btn-default" href=<?php echo "../keepstream/" . $streams["PEER_ID"] . "/" . $streams["ID"] ?> ><i class="fa fa-thumbs-o-up fa"> Keep it</i></a>
					<?php else : ?>
						<a class="btn btn-default" href=<?php echo "../ignorestream/" . $streams["PEER_ID"] . "/" . $streams["ID"] ?> ><i class="fa fa-hand-paper-o fa"> Ignore It</i></a>
					<?php endif; ?>
				</td>
			</tr>
					
	<?php } ?>
		</tbody>
	</table>