
	<table class="table table-hover table-bordered small">
		<th>StreamName</th>	
		<th>StreamNumber</th>
		<th>StreamStatus</th>
		<th>BitRate</th>	
		<th>VideoCodec</th>
		<th>AudioCodec</th>
		<th>MappedTo</th>
		<th>Ignored</th>
		<th>Include</th>
	<?php
		foreach($data['AllStreams'] as $streams) {
			if ($streams["STREAM_MAP"])
			{
				foreach($data['YourStreams'] as $YourStreams) 
				{
					if ($streams["STREAM_MAP"] == $YourStreams["ID"] )
					{
						$MappedStreamName = $YourStreams["STREAM_NAME"];
					}
				}

			} 
			else
			{
				$MappedStreamName = "Not mapped ";
			}
		?>
			<tr>
				<td> <?php echo $streams["STREAM_NAME"] ?> 		</td>
				<td> <?php echo $streams["STREAM_NUMBER"] ?> 	</td>
				<td> <?php echo $streams["STREAM_STATUS"] ?> 	</td>
				<td> <?php echo $streams["STREAM_QA"] ?> 		</td>
				<td> <?php echo $streams["STREAM_VC"] ?> 		</td>
				<td> <?php echo $streams["STREAM_AC"] ?> 		</td>
				<td>
					<div class="btn-group">
    					<button type="button" data-toggle="dropdown" class="btn btn-default dropdown-toggle"> <?php echo $MappedStreamName ?> 
    						<span class="caret"></span>
    					</button>
        				<ul class="dropdown-menu">
    						<?php foreach($data['YourStreams'] as $YourStreams) { ?>
        						<li> 
        							<a href=<?php echo ".." . DS . "UpdateMapping" . DS . $streams["PEER_ID"] . DS .$streams["ID"] . DS . $YourStreams["ID"]  ?> data-value=<?php echo $YourStreams["STREAM_NAME"] ?> > <?php echo $YourStreams["STREAM_NAME"] ?> </a> 
        						</li>
        					<?php } ?>	
        				</ul>
					</div>
				</td>
				<td>
					<?php if(!empty($streams["STREAM_IGN"])) : ?>
						<a class="btn btn-default" href=<?php echo "../keepstream/" . $streams["PEER_ID"] . "/" . $streams["ID"] ?> >
							<i class="fa fa-thumbs-o-up fa"> Keep it </i>
						</a>
					<?php else : ?>
						<a class="btn btn-default" href=<?php echo "../ignorestream/" . $streams["PEER_ID"] . "/" . $streams["ID"] ?> >
							<i class="fa fa-hand-paper-o fa"> Ignore It </i>
						</a>
					<?php endif; ?>
				</td>
				<td>
					<?php if(empty($streams["STREAM_IGN"]) AND ($MappedStreamName == "Not mapped ")) : ?>
						<a class="btn btn-default" href=<?php echo Config::get('base_url') . "streams" . DS . "createstream" . DS . $streams["ID"] ?> >
							<i class="fa fa-hand-pointer-o" aria-hidden="true"> Include It</i>
						</a>
					<?php else : ?>
						<a class="btn btn-default" href=<?php echo Config::get('base_url') . "streams" . DS . "createstream" . DS . $streams["ID"] ?> disabled>
							<i class="fa fa-hand-pointer-o" aria-hidden="true"> Include It</i>
						</a>
					<?php endif; ?>
				</td>
			</tr>
					
	<?php } ?>
		</tbody>
	</table>