
<div class="panel-group">

  <div class="panel panel-default">
    <div class="panel-body">
      <?php foreach($data['PeerInfo'] as $peer) { ?>
      <div class="btn-group" role="group" aria-label="...">
        <a href=<?php echo Config::get('base_url') ."peers" . DS . view . DS . $peer["ID"]  ?> ><button type="button" class="btn btn-default" disabled="disabled">View Peer</button></a>
        <a href=<?php echo Config::get('base_url') ."peers" . DS . edit . DS . $peer["ID"] ?> ><button type="button" class="btn btn-default">Edit Peer</button></a>
        <a href=<?php echo Config::get('base_url') ."peers" . DS . create?> ><button type="button" class="btn btn-default">Create Peer</button></a>
      </div>
    </div>
  </div>

  <form class="form-horizontal">
    <div class="panel panel-default">
      <div class="panel-body">
        <div class="form-group">
          <label for="inputPeerID" class="col-sm-2 control-label">PeerID</label>
          <div class="col-sm-10">
            <input type="number" class="form-control" id="inputPeerID" value=<?php echo $peer["ID"] ?> disabled>
          </div>
        </div>
        <div class="form-group">
          <label for="inputPeerName" class="col-sm-2 control-label">PeerName</label>
          <div class="col-sm-10">
            <input type="text" class="form-control" id="inputPeerName" value=<?php echo $peer["PEER_NAME"] ?> disabled>
          </div>
        </div>
        <div class="form-group">
          <label for="inputPeerUrl" class="col-sm-2 control-label">PeerUrl</label>
          <div class="col-sm-10">
            <input type="text" class="form-control" id="inputPeerUrl" value=<?php echo $peer["PEER_URL"] ?> disabled>
          </div>
        </div>
        <div class="form-group">
          <label for="inputPeerMaxConnection" class="col-sm-2 control-label">PeerMaxConnection</label>
          <div class="col-sm-10">
            <input type="number" class="form-control" id="inputPeerMaxConnection" value=<?php echo $peer["PEER_MAX_CON"] ?> disabled>
          </div>
        </div> 
      </div>
    </div>

    <div class="panel panel-default">
      <div class="panel-body">
        <div class="form-group">
          <label for="inputPeerDwlUrl" class="col-sm-2 control-label">PeerDwlUrl</label>
          <div class="col-sm-10">
            <input type="text" class="form-control" id="inputPeerDwlUrl" value=<?php echo $peer["PEER_DWL_URL"] ?> disabled>
          </div>
        </div>   
        <div class="form-group">
          <label for="inputLastDwl" class="col-sm-2 control-label">Last StreamList Download</label>
          <div class="col-sm-10">
            <input type="date" class="form-control" id="inputLastDwl" value=<?php echo $peer["LAST_LIST_DWL"] ?> disabled>
          </div>
        </div>    
        <div class="form-group">
          <label for="inputLastUpl" class="col-sm-2 control-label">Last StreamList Upload</label>
          <div class="col-sm-10">
            <input type="date" class="form-control" id="inputLastUpl" value=<?php echo $peer["LAST_LIST_LOAD"] ?> disabled>
          </div>
        </div>
      </div>  
    </div> 

    <div class="panel panel-default">
      <div class="panel-body"> 
        <div class="form-group">
          <label for="inputPeerMail" class="col-sm-2 control-label">PeerMail</label>
          <div class="col-sm-10">
            <input name="inputPeerMail" type="mail" class="form-control" id="inputPeerMail" placeholder="Peer's eMail address" value='<?php echo $peer["PEER_MAIL"] ?>' disabled>
          </div>
        </div> 
        <div class="form-group">
          <label for="inputPeerSkype" class="col-sm-2 control-label">PeerSkype</label>
          <div class="col-sm-10">
            <input name="inputPeerSkype" type="text" class="form-control" id="inputPeerSkype" placeholder="Peer Spype Contact" value='<?php echo $peer['PEER_SKYPE'] ?>' disabled>
          </div>
        </div>         

      </div>  
    </div>      

  </form>

<?php } ?> 
</div>

