<div class="panel-group">

  <form class="form-horizontal" action=<?php echo Config::get('base_url') ."streams" . DS. "AddSourceForm" ?> method="post">
    <div class="panel panel-default">
      <div class="panel-heading"><?php echo addsource_001 ?></div>
      <div class="panel-body">  
        <div class="form-group">
          <label for="inputStreamID" class="col-sm-2 control-label"><?php echo addsource_002 ?></label>
          <div class="col-sm-10">
            <input name="inputStreamID" type="number" class="form-control" id="inputStreamID" placeholder="<?php echo addsource_003 ?>" disabled>
          </div>
        </div>

    <?php if ( $data['StreamID'] ) : ?>
        <div class="form-group">
          <label for="inputMapStreamID" class="col-sm-2 control-label"><?php echo addsource_004 ?></label>
          <div class="col-sm-10">
            <input name="inputMapStreamID" type="text" class="form-control" id="inputMapStreamID" placeholder="<?php echo addsource_005 ?>" value="<?php echo $data['StreamID'] ?>" readOnly="true">
          </div>
        </div>
    <?php endif; ?>

    <?php
      if ( $data['StreamName'] )
      {
        $StreamName = $data['StreamName'];
      }  
    ?>

        <div class="form-group">
          <label for="inputStreamName" class="col-sm-2 control-label"><?php echo addsource_006 ?></label>
          <div class="col-sm-10">
            <input name="inputStreamName" type="text" class="form-control" id="inputStreamName" placeholder="<?php echo addsource_007 ?>" value='<?php echo $StreamName ?>' >
          </div>
        </div>
        <div class="form-group">
          <label for="inputStreamCategory" class="col-sm-2 control-label"><?php echo addsource_008 ?></label>      
          <div class="col-sm-10">
            <input name="inputStreamCategory" type="text" class="form-control" id="inputStreamCategory" value="<?php echo $data['StreamCat'] ?>" readOnly="true">
          </div>            
        </div>  

        <div class="form-group">
          <label for="inputStreamName" class="col-sm-2 control-label"><?php echo addsource_009 ?></label>
          <div class="col-sm-10">
            <input name="InputStreamSource" type="text" class="form-control" id="InputStreamSource" placeholder="<?php echo addsource_010 ?>" >
          </div>
        </div>             
    
    <div class="form-group">
      <div class="col-sm-offset-2 col-sm-10">
        <button type="submit" class="btn btn-default"><?php echo addsource_011 ?></button>
      </div>
    </div>
  </form>
</div>


