<div class="panel-group">


    <div class="panel panel-default">
      <div class="panel-heading">Streams List</div>
      <div class="panel-body"> 
      	<table class="table table-hover table-bordered small">
      		<thead>
      			<th>StreamName</th>
      			<th>Assigned Category</th>
      		</thead>
      		<tbody>
      			<?php foreach($data['YourStreams'] as $stream) { ?>
      				<?php 
		      		if ($stream["STREAM_CAT"])
					{
						foreach($data['AllCategory'] as $Category) 
						{
							if ($stream["STREAM_CAT"] == $Category["ID"] )
							{
								$AssignedCategory = $Category["TEXT"];
							}
						}

					} 
					else
					{
						$AssignedCategory = "Not assigned ";
					}
					?>
      			<tr>
      				<td> <?php echo $stream["STREAM_NAME"]?> </td>
      				<td>
	      				<div class="btn-group">
	    					<button type="button" data-toggle="dropdown" class="btn btn-default dropdown-toggle"> <?php echo $AssignedCategory ?> 
	    						<span class="caret"></span>
	    					</button>
	        				<ul class="dropdown-menu">
	    						<?php foreach($data['AllCategory'] as $Category) { ?>
	        						<li> 
	        							<a href=<?php echo Config::get('base_url') ."streams" . DS . "UpdateCategory" . DS . $stream["ID"] . DS . $Category["ID"] ?> data-value=<?php echo $Category["TEXT"] ?> > <?php echo $Category["TEXT"] ?> </a> 
	        						</li>
	        					<?php } ?>	
	        				</ul>
						</div>
      				</td>
      			</tr>
      			<?php } ?>
      		</tbody>
      	</table>

      </div>

    </div>

</div>