<div class="panel-group">

  <form class="form-horizontal" action=<?php echo Config::get('base_url') ."streams" . DS. "Add" . DS . "Category" ?> method="post">
    <div class="panel panel-default">
      <div class="panel-heading"><?php echo CREATE_CAT_001 ?></div>
      <div class="panel-body">  
        <div class="form-group">
          <label for="inputPeerID" class="col-sm-2 control-label"><?php echo CREATE_CAT_002 ?></label>
          <div class="col-sm-10">
            <input name="inputCategoryID" type="number" class="form-control" id="inputCategoryID" placeholder="<?php echo CREATE_CAT_012 ?>" disabled>
          </div>
        </div>
        <div class="form-group">
          <label for="inputPeerName" class="col-sm-2 control-label"><?php echo CREATE_CAT_003 ?></label>
          <div class="col-sm-10">
            <input name="inputCategoryName" type="text" class="form-control" id="inputCategoryName" placeholder="<?php echo CREATE_CAT_013 ?>" >
          </div>
        </div>

        <div class="form-group" id="RadioCategoryType">
          <label for="inputCategoryType" class="col-sm-2 control-label"><?php echo CREATE_CAT_016 ?></label>
          <div class="col-sm-10">
            <label class="radio-inline"><input type="radio" name="inputCategoryType" value="NEW"><?php echo CREATE_CAT_017 ?></label>
            <label class="radio-inline"><input type="radio" name="inputCategoryType" value="SUB" ><?php echo CREATE_CAT_018 ?></label>
          </div>
        </div>         

        <div class="form-group" id="ParentCategoryGroup">
          <label for="inputCategoryGroup" class="col-sm-2 control-label"><?php echo CREATE_CAT_015 ?></label> 
          <div class="col-sm-10">
            <select class="form-control" id="inputCategoryGroup" name="inputCategoryGroup" placeholder="<?php echo CREATE_CAT_014 ?>">
              <?php foreach($data['AllCategory'] as $Category) { ?>
                <?php if(!$Category["Groups"]) : ?>
                  <option value='<?php echo $Category["TEXT"] ?>'><?php echo $Category["TEXT"] ?></option> 
                <?php endif; ?>
              <?php } ?> 
            </select>
          </div>        
        </div>    

    </div>        
    
    <div class="form-group">
      <div class="col-sm-offset-2 col-sm-10">
        <button type="submit" class="btn btn-default"><?php echo CREATE_CAT_004 ?> </button>
      </div>
    </div>
  </form>


  <div class="panel panel-default">
    <div class="panel-heading"><?php echo CREATE_CAT_005 ?></div>
      <div class="panel-body">
        <table class="table table-hover table-bordered small">
          <thead>
          <th><?php echo CREATE_CAT_006 ?></th>
          <th><?php echo CREATE_CAT_007 ?></th>
          <th><?php echo CREATE_CAT_008 ?></th>
          <th><?php echo CREATE_CAT_009 ?></th>
          <th><?php echo CREATE_CAT_010 ?></th>
          <th><?php echo CREATE_CAT_011 ?></th>
          </thead>
          <tbody>
            <?php foreach($data['AllCategory'] as $category) { ?>
            <?php if(!is_null($category["TEXT"])) : ?>
            <tr>
              <td><?php echo $category["TEXT"] ?></td>
              <td><?php echo $category["Groups"] ?></td>
              <td><?php echo $category["STREAMS"] ?></td>
            <td><a class="btn btn-info" href=<?php echo Config::get('base_url') . "streams" .DS . "viewcategory" . DS . $category["ID"] ?> ><i class="fa fa-eye fa-lg"></i></a></td>
            <td><a class="btn btn-default" href=<?php echo Config::get('base_url') . "streams" .DS . "editcategory". DS . $category["ID"] ?> ><i class="fa fa-pencil-square-o fa-lg"></i></a></td>
            <td><a class="btn btn-danger" href=<?php echo Config::get('base_url') . "streams" .DS . "deletecategory". DS . $category["ID"] ?> ><i class="fa fa-trash-o fa-lg"></i></a></td>
            </tr>
            <?php endif; ?>
            <?php } ?>

          </tbody>

        </table>

      </div>
   </div>

</div>