<div class="panel-group">

<?php foreach($data['CategoryInfo'] as $category) { ?>

  <form class="form-horizontal" action=<?php echo Config::get('base_url') ."streams" . DS. "Edit" . DS . "Category" . DS . $category["ID"] ?> method="post">
    <div class="panel panel-default">
      <div class="panel-body">  
        <div class="form-group">
          <label for="inputPeerID" class="col-sm-2 control-label">CategoryID</label>
          <div class="col-sm-10">
            <input name="inputCategoryID" type="number" class="form-control" id="inputCategoryID" value=<?php echo $category["ID"] ?> disabled>
          </div>
        </div>
        <div class="form-group">
          <label for="inputPeerName" class="col-sm-2 control-label">CategoryName</label>
          <div class="col-sm-10">
            <input name="inputCategoryName" type="text" class="form-control" id="inputCategoryName" value=<?php echo $category["TEXT"] ?> >
          </div>
        </div>

        <div class="form-group">
          <label for="inputCategoryGroup" class="col-sm-2 control-label">CategoryGroup</label>
          <div class="col-sm-10">
            <select class="form-control" id="inputCategoryGroup" name="inputCategoryGroup" placeholder="Select the CategoryGroup" >
              <?php foreach($data['AllCategory'] as $Category) { ?>
                <?php if(!$Category["Groups"]) : ?>
                  <?php if($Category["TEXT"] == $category["Groups"]) : ?>
                    <option value='<?php echo $Category["TEXT"] ?>' selected><?php echo $Category["TEXT"] ?></option>
                  <?php else : ?>
                    <option value='<?php echo $Category["TEXT"] ?>'><?php echo $Category["TEXT"] ?></option>
                  <?php endif; ?>) : ?>
                <?php endif; ?>
              <?php } ?> 
            </select>
          </div>        
        </div>            
    </div>        
    
    <div class="form-group">
      <div class="col-sm-offset-2 col-sm-10">
        <button type="submit" class="btn btn-default">Edit this Category </button>
      </div>
    </div>
  </form>

<?php } ?>
</div>