
  		<div class="panel panel-default">
  		  	<div class="panel-heading">
				All Streams by Category 
			</div>
			<div class="panel-body">  		
  		<?php $prev_category = '' ?>

    		<?php foreach($data['AllCategory'] as $category) { ?>	

	    		<?php foreach($data['AllStreams'] as $stream) { ?>
	    			<?php
		   				// Panel color depending on stream status
		   				if ($stream["STREAM_STATUS"] == 'ON')
		   				{
		   					$panel_class = "panel panel-success";
		   				}
		   				elseif ($stream["STREAM_STATUS"] == 'RUN')
		   				{
		   					$panel_class = "panel panel-info";
		   				}
		   				elseif ($stream["STREAM_STATUS"] == 'ACT')
		   				{
		   					$panel_class = "panel panel-info";
		   				}		   				
						elseif ($stream["STREAM_STATUS"] == 'OFF')
		   				{
		   					$panel_class = "panel panel-default";
		   				}
						else
		   				{
		   					$panel_class = "panel panel-default";
		   				}		   				

		   			?>

	   			<?php if ( $stream["STREAM_CAT"] == $category["ID"]  ): ?>	

	   			<?php if ($category["ID"] != $prev_category): ?>

	   		<?php if ($prev_category != '' ): ?>
	   			</div>
	   				</div>
	   				</div>
	   		<?php endif ?>		
		   	    <!-- Category Panel -->			
		   		<div class="panel panel-default">
    				<div class="panel-heading">
         					 <div class="row">
         						<div class="col-md-6 text-center">
         							<div class="pull-left">
	         							<?php echo $category["TEXT"] . " | " ?> 
	         							# Streams: <?php echo $category["STREAMS"] . " | " ?> 
	         							# Streams Online: <?php echo $category["STR_Online"]  . " | " ?>
	         							# Streams Running: <?php echo $category["STR_Running"]  . " | " ?>
         							</div>
         						</div>

         						<div class="col-md-6 text-right">

			    					<div class="pull-right">
			    						<a href=<?php echo Controller::GetBaseUrl() ."streams" . DS . "stop" . DS . "cat" . DS. $category["ID"] ?> <i class="fa fa-stop" aria-hidden="true"> Stop All Streams | </i> </a>
			    						<a href=<?php echo Controller::GetBaseUrl() ."streams" . DS . "start" . DS . "cat" . DS . $category["ID"] ?> <i class="fa fa-play" aria-hidden="true"> Start All Streams | </i> </a>
			    						<a href=<?php echo Controller::GetBaseUrl() ."streams" . DS . "status" . DS . "cat" . DS . $category["ID"]?> <i class="fa fa-check-square-o" aria-hidden="true"> Check All Status | </i> </a>
			    						<a href=<?php echo Controller::GetBaseUrl() ."streams" . DS . "quality" . DS . "cat" . DS . $category["ID"]?> <i class="fa fa-star-half-o" aria-hidden="true"> Check All Quality | </i> </a>
			    					 
	         							<a data-toggle="collapse" href='<?php echo Controller::GetBaseUrl() ."streams" . "#" . str_replace(' ', '', $category["TEXT"])  ?>'> 
	         								<span class="caret"></span>
	         							</a>	
	         							
	         						</div>		    					        							
         						</div>
         					</div>
       				</div>
    				<div id='<?php echo str_replace(' ', '', $category["TEXT"]) ?>' class="panel-collapse collapse">
    				<div class="panel-body">

    				<?php $prev_category = $category["ID"]; ?>
    				<?php endif ?>

					<!-- Stream Panel -->
		   			<div class='<?php echo $panel_class ?>'>
		    			<div class="panel-heading">
		    					<?php echo $stream["STREAM_NAME"] ?>
		    				
		    				<div class="pull-right">
			    				<a href=<?php echo Controller::GetBaseUrl() ."streams" . DS . "stop" . DS . $stream["ID"] ?> <i class="fa fa-stop" aria-hidden="true"> Stop this Streams | </i> </a>
			    				<a href=<?php echo Controller::GetBaseUrl() ."streams" . DS . "start" . DS . $stream["ID"] ?> <i class="fa fa-play" aria-hidden="true"> Start this Streams | </i> </a>	
		    					<a href=<?php echo Controller::GetBaseUrl() ."streams" . DS . "status" . DS . $stream["ID"]?> <i class="fa fa-check-square-o" aria-hidden="true"> Check Status | </i> </a>
		    					<a href=<?php echo Controller::GetBaseUrl() ."streams" . DS . "quality" . DS . $stream["ID"]?> <i class="fa fa-star-half-o" aria-hidden="true"> Check Quality | </i> </a>
		    					<a href=<?php echo Controller::GetBaseUrl() ."streams" . DS . "DeleteStream" . DS . $stream["ID"] ?> <i class="fa fa-times" aria-hidden="true"></i> Delete Stream</i></a>
		    				</div>

		    			</div>
    					<div class="panel-body">

    						<div class="pull-right">
		    					<a href=<?php echo Controller::GetBaseUrl() ."streams" . DS . "status" . DS . $stream["ID"] . DS . "map"?> <i class="fa fa-check-square-o" aria-hidden="true"> Check All PeerStreams Status | </i> </a>
		    					<a href=<?php echo Controller::GetBaseUrl() ."streams" . DS . "quality" . DS . $stream["ID"] . DS . "map"?>  <i class="fa fa-star-half-o" aria-hidden="true"> Check All PeerStreams Quality | </i> </a>
		    					<a href=<?php echo Controller::GetBaseUrl() ."streams" . DS . "addsource" . DS . $stream["ID"] ?> > <i class="fa fa-plus-circle" aria-hidden="true">Add Stream Source |  </i></a>
		    					<a href=<?php echo Controller::GetBaseUrl() ."streams" . DS . "DeleteMapping" . DS . $stream["ID"] . DS . "map" ?> > <i class="fa fa-ban" aria-hidden="true"> UnMap All Sources |   </i></a>
		    					<a href=<?php echo Controller::GetBaseUrl() ."streams" . DS . "DeleteStream" . DS . $stream["ID"]  . DS . "map"?> > <i class="fa fa-eraser" aria-hidden="true"> Delete All Sources </i></a>
		    				</div>
					
						<!-- Peers Panel -->
								<table class="table table-hover table-bordered small"> 
    								<thead>
    									<th>PeerID</th>
    									<th>StreamName</th>
    									<th>VideoCodec</th>
    									<th>AudioCodec</th>
    									<th>BitRate</th>
    									<th>Status</th>
    									<!-- <th>Running</th> -->
    									<th>Actions</th>
    								</thead>
		    					<?php foreach($data['StreamBackups'] as $streamBackup) { ?>
		    						<?php if ($streamBackup["STREAM_MAP"] == $stream["ID"]): ?>
	    								<tbody>
	    									<tr>
												<td><?php echo $streamBackup["PEER_ID"] ?></td>
												<td><?php echo $streamBackup["STREAM_NAME"] ?></td>
												<td><?php echo $streamBackup["STREAM_VC"] ?></td>
												<td><?php echo $streamBackup["STREAM_AC"] ?></td>
												<td><?php echo $streamBackup["STREAM_QA"] ?></td>
												<td align="center"><?php echo $streamBackup["STREAM_STATUS"] ?></td>
												<!-- <td></td> -->
												<td>
 													<a href=<?php echo Controller::GetBaseUrl() ."streams" . DS . "PlayStream" . DS . $streamBackup["ID"]?>
														<i class="fa fa-play" aria-hidden="true"> Play | </i>
													</a>												
<!-- 													<a href=<?php echo Controller::GetBaseUrl() ."streams" . DS . "Play" . DS . $streamBackup["ID"] ?> 
														<i class="fa fa-play" aria-hidden="true"> Play | </i>
													</a> -->

													<a href=<?php echo Controller::GetBaseUrl() ."streams" . DS . "quality" . DS . $streamBackup["ID"]?> | 
														<i class="fa fa-star-half-o" aria-hidden="true"> Check Quality | </i> 
													</a>

													<a href=<?php echo Controller::GetBaseUrl() ."streams" . DS . "status" . DS . $streamBackup["ID"]?> 
														<i class="fa fa-check-square-o" aria-hidden="true"> Check Status | </i> 
													</a>

													<a href=<?php echo Controller::GetBaseUrl() ."streams" . DS . "DeleteMapping" . DS . $streamBackup["ID"] . DS. $stream["ID"] ?> 
														<i class="fa fa-ban" aria-hidden="true"> Delete Mapping | </i>
													</a>

													<a href=<?php echo Controller::GetBaseUrl() ."streams" . DS . "DeleteStream" . DS . $streamBackup["ID"] ?> 
														<i class="fa fa-times" aria-hidden="true"></i> Delete Source</i>
													</a>																										
												</td>
											</tr>
	    								</tbody>
		    						<?php endif ?>
		    					<?php } ?>	
		    					</table>
	  					</div>
	  				</div>

	  				<?php endif ?>

		    	<?php } ?>
    		<?php } ?>

    		<?php if ($category["ID"] != $prev_category): ?>
    				</div>
    				</div>
    			</div>
    		<?php endif ?>
  		

	   		<?php if ($prev_category != '' ): ?>
	   				</div>
	   				</div>
	   			</div>
	   		<?php endif ?>  
	   			</div>
	   		</div>