<?php
	//echo $data["StreamURL"] . "<br>";
?>

    <div class="panel panel-default">
      <div class="panel-heading">LiveStream</div>
      <div class="panel-body"> 

			<object type="application/x-vlc-plugin" data=<?php echo $data["StreamURL"] ?> width="800" height="600" id="video1">
			     <param name="movie" value=<?php echo $data["StreamURL"] ?> />
			     <embed type="application/x-vlc-plugin" name="video1" autoplay="no" loop="no" width="800" height="600" target="<?php $data['StreamURL']  ?>" />
			     <a href=<?php echo $data["StreamURL"] ?> >Download Stream</a>
			</object>

      </div>
    </div>