<div class="panel panel-default">
	<div class="panel-heading">List of categories</div>
    <div class="panel-body">
    	<table class="table table-hover table-bordered small">
    		<thead>
				<th>Name</th>
                <th>CategoryGroup</th>
				<th>NumberOfStreams</th>
				<th>View</th>
				<th>Edit</th>
				<th>Delete</th>
    		</thead>
    		<tbody>
    			<?php foreach($data['AllCategory'] as $category) { ?>
                <?php if(!is_null($category["TEXT"])) : ?>
    			<tr>
    				<td><?php echo $category["TEXT"] ?></td>
                    <td><?php echo $category["Groups"] ?></td>
    				<td><?php echo $category["STREAMS"] ?></td>
					<td><a class="btn btn-info" href=<?php echo Config::get('base_url') . "streams" .DS . "viewcategory" . DS . $category["ID"] ?> ><i class="fa fa-eye fa-lg"></i></a></td>
					<td><a class="btn btn-default" href=<?php echo Config::get('base_url') . "streams" .DS . "editcategory". DS . $category["ID"] ?> ><i class="fa fa-pencil-square-o fa-lg"></i></a></td>
					<td><a class="btn btn-danger" href=<?php echo Config::get('base_url') . "streams" .DS . "deletecategory". DS . $category["ID"] ?> ><i class="fa fa-trash-o fa-lg"></i></a></td>
    			</tr>
                <?php endif; ?>
    			<?php } ?>

    		</tbody>

    	</table>

    </div>
 </div>
