<div class="panel panel-default">
    <div class="panel-body">
        <div class="btn-group" role="group" aria-label="...">
            <!-- Add a stream -->
            <a href=<?php echo Config::get('base_url') ."streams" . DS . "createcategory" . DS . "AddStream"  ?> ><button type="button" class="btn btn-default">Add a stream</button></a>                   
        </div>      

    </div>
 </div>


<div class="panel panel-default">
    <?php foreach($data['CategoryInfo'] as $category) { ?>
	<div class="panel-heading">List of Streams from category: <?php echo $category['TEXT'] ?></div>
    <?php 
        $AssignedCategory =  $category['TEXT'] ;
        $CategoryID = $category['ID']
    ?>
    <?php } ?>
    <div class="panel-body">
    	<table class="table table-hover table-bordered small">
    		<thead>
				<th>Stream</th>
				<th>View</th>
                <th>Edit</th>
				<th>Delete</th>
				<th>UpdateCategory</th>
    		</thead>
    		<tbody>
    			<?php foreach($data['StreamList'] as $stream) { ?>
    			<tr>
    				<td><?php echo $stream["STREAM_NAME"] ?></td>
					<td><a class="btn btn-info" href=<?php echo Config::get('base_url') . "streams" . DS . "View" . DS . $stream["ID"] ?> ><i class="fa fa-eye fa-lg"></i></a></td>
					<td><a class="btn btn-default" href=<?php echo Config::get('base_url') . "streams" .DS . "Edit". DS . $stream["ID"] ?> ><i class="fa fa-pencil-square-o fa-lg"></i></a></td>
					<td><a class="btn btn-danger" href=<?php echo Config::get('base_url') . "streams" .DS . "delete". DS . $stream["ID"] ?> ><i class="fa fa-trash-o fa-lg"></i></a></td>
                    <td>
                        <div class="btn-group">
                            <button type="button" data-toggle="dropdown" class="btn btn-default dropdown-toggle"> <?php echo $AssignedCategory ?> 
                                <span class="caret"></span>
                            </button>
                            <ul class="dropdown-menu">
                                <?php foreach($data['AllCategory'] as $Category) { ?>
                                    <li> 
                                        <a href=<?php echo Config::get('base_url') ."streams" . DS . "UpdateCategory" . DS . $stream["ID"] . DS . $Category["ID"] . DS . "viewcategory" . DS . $CategoryID ?> data-value=<?php echo $Category["TEXT"] ?> > <?php echo $Category["TEXT"] ?> </a> 
                                    </li>
                                <?php } ?>  
                            </ul>
                        </div>
                    </td>
    			</tr>
    			<?php } ?>

    		</tbody>

    	</table>

    </div>
 </div>