<?php if ( $data['Peer']  ): ?>
<div class="panel-group">  
<?php foreach($data['Peer'] as $Peer) { ?>
  <form class="form-horizontal" action=<?php echo Config::get('base_url') ."users" . DS . "CreateUser"?> method="post">
    <div class="form-group">
      <label for="inputUserName" class="col-sm-2 control-label">UserName</label>
      <div class="col-sm-10">
        <input type="text" class="form-control" id="inputUserName" name="inputUserName" placeholder="The UserName" value='<?php echo $Peer["PEER_NAME"] ?>' required>
      </div>
    </div>
    
    <div class="form-group">
      <label for="inputPassWord" class="col-sm-2 control-label">Password</label>
      <div class="col-sm-10">
        <input type="password" class="form-control" id="inputPassWord" name="inputPassWord" placeholder="The User PassWord" required autocomplete="new-password">
      </div>
    </div>

    <div class="form-group">
      <label for="inputUserType" class="col-sm-2 control-label">Type</label>
      <div class="col-sm-10">
          <label class="radio-inline"><input type="radio" name="inputUserType" value="SU"> Administrator </label>
          <label class="radio-inline"><input type="radio" name="inputUserType" value="N" checked> Normal User </label>
      </div>
    </div>    
     
    <div class="form-group">
      <label for="inputUserStatus" class="col-sm-2 control-label">Status</label>
      <div class="col-sm-10">
        <select class="form-control" id="inputUserStatus" name="inputUserStatus">
          <option value="1" checked>Enable</option>
          <option value="0">Disable</option>
        </select>
      </div>
    </div>

    <?php
      $pos = strpos($Peer["PEER_URL"], "http://");
      if ($pos !== false) 
      {
        $HOST = str_replace("http://", "", $Peer["PEER_URL"]);
      }
      $pos = strpos($HOST, "/");
      if ($pos !== false) 
      {
        $HOST = strstr($HOST, '/', true);
      }      
      $pos = strpos($HOST, ":");
      if ($pos !== false) 
      {
        $HOST = strstr($HOST, ':', true);
      }       
    ?>

    <div class="form-group">
      <label for="inputUserHost" class="col-sm-2 control-label">HostName</label>
      <div class="col-sm-10">
        <input type="text" class="form-control" id="inputUserHost" name="inputUserHost" value='<?php echo $HOST ?>' placeholder="The User HostName">
      </div>
    </div> 

    <div class="form-group">
      <label for="inputUserMaxConnection" class="col-sm-2 control-label">MaxConnection</label>
      <div class="col-sm-10">
        <input type="Number" class="form-control" id="inputUserMaxConnection" name="inputUserMaxConnection" value='<?php echo $Peer["PEER_MAX_CON"] ?>' placeholder="Max Number of Connections" required>
      </div>
    </div>   

    <div class="form-group">
      <label for="inputUserExpireDate" class="col-sm-2 control-label">ExpireDate</label>
      <div class="col-sm-10">
        <select class="form-control" id="inputUserExpireDate" name="inputUserExpireDate">
          <option value="1">1 day</option>
          <option value="31">31 days - 1 month</option>
          <option value="93">93 days - 3 months</option>
          <option value="186">186 days - 6 months</option>
          <option value="365" selected="">365 days -  years</option>
        </select>
      </div>
    </div>     

    <div class="form-group">
      <div class="col-sm-offset-2 col-sm-10">
        <button type="submit" class="btn btn-default">Add this User </button>
      </div>
    </div>
  </form>

<?php } ?>
</div>
<?php else: ?>
<div class="panel-group">
  <form class="form-horizontal" action=<?php echo Config::get('base_url') ."users" . DS. "CreateUser"?> method="post">
    <div class="form-group">
      <label for="inputUserName" class="col-sm-2 control-label">UserName</label>
      <div class="col-sm-10">
        <input type="text" class="form-control" id="inputUserName" name="inputUserName" placeholder="The UserName" required>
      </div>
    </div>
    <div class="form-group">
      <label for="inputPassWord" class="col-sm-2 control-label">Password</label>
      <div class="col-sm-10">
        <input type="password" class="form-control" id="inputPassWord" name="inputPassWord" placeholder="The User PassWord" required autocomplete="new-password">
      </div>
    </div>


    <div class="form-group">
      <label for="inputUserType" class="col-sm-2 control-label">Type</label>
      <div class="col-sm-10">
          <label class="radio-inline"><input type="radio" name="inputUserType" value="SU">Administrator</label>
          <label class="radio-inline"><input type="radio" name="inputUserType" value="N" checked>Normal User</label>
      </div>
    </div>    

    <div class="form-group">
      <label for="inputUserStatus" class="col-sm-2 control-label">Status</label>
      <div class="col-sm-10">
        <select class="form-control" id="inputUserStatus" name="inputUserStatus">
          <option value="1">Enable</option>
          <option value="0">Disable</option>
        </select>
      </div>
    </div>
    <div class="form-group">
      <label for="inputUserHost" class="col-sm-2 control-label">HostName</label>
      <div class="col-sm-10">
        <input type="text" class="form-control" id="inputUserHost" name="inputUserHost" placeholder="The User HostName">
      </div>
    </div> 
    <div class="form-group">
      <label for="inputUserMaxConnection" class="col-sm-2 control-label">MaxConnection</label>
      <div class="col-sm-10">
        <input type="Number" class="form-control" id="inputUserMaxConnection" name="inputUserMaxConnection" placeholder="Max Number of Connections" required>
      </div>
    </div>   

    <div class="form-group">
      <label for="inputUserExpireDate" class="col-sm-2 control-label">ExpireDate</label>
      <div class="col-sm-10">
        <select class="form-control" id="inputUserExpireDate" name="inputUserExpireDate">
          <option value="1">1 day</option>
          <option value="31">31 days - 1 month</option>
          <option value="93">93 days - 3 months</option>
          <option value="186">186 days - 6 months</option>
          <option value="365" selected="">365 days -  years</option>
        </select>
      </div>
    </div>     

    <div class="form-group">
      <div class="col-sm-offset-2 col-sm-10">
        <button type="submit" class="btn btn-default">Add this User </button>
      </div>
    </div>
  </form>
</div>
<?php endif ?>