<div class="panel-group">  
<?php foreach($data['User'] as $User) { ?>
  <form class="form-horizontal" action=<?php echo Config::get('base_url') ."users" . DS . "EditUser" . DS . $User["ID"] ?> method="post">
    <div class="form-group">
      <label for="inputUserName" class="col-sm-2 control-label">UserName</label>
      <div class="col-sm-10">
        <input type="text" class="form-control" id="inputUserName" name="inputUserName" placeholder="The UserName" value='<?php echo $User["User"] ?>' required>
      </div>
    </div>
    
    <div class="form-group">
      <label for="inputPassWord" class="col-sm-2 control-label">Password</label>
      <div class="col-sm-10">
        <input type="password" class="form-control" id="inputPassWord" name="inputPassWord" placeholder="Keep Same PassWord" autocomplete="new-password">
      </div>
    </div>

    <div class="form-group">
      <label for="inputUserStatus" class="col-sm-2 control-label">Type</label>
      <div class="col-sm-10">
        <?php if ( $User["Type"] == "SU"  ): ?>
          <label class="radio-inline"><input type="radio" value="SU" name="inputUserType" checked>Administrator</label>
          <label class="radio-inline"><input type="radio" value="N" name="inputUserType">Normal User</label>
        <?php else: ?>
          <label class="radio-inline"><input type="radio" name="inputUserType" value="SU">Administrator</label>
          <label class="radio-inline"><input type="radio" name="inputUserType" value="N" checked>Normal User</label>
        <?php endif ?>
      </div>
    </div>    

    <div class="form-group">
      <label for="inputUserStatus" class="col-sm-2 control-label">Status</label>
      <div class="col-sm-10">
        <select class="form-control" id="inputUserStatus" name="inputUserStatus">
          <?php if ( $User["Status"] == 1  ): ?>
            <option value="1" checked>Enable</option>
          <?php else: ?>
            <option value="0">Disable</option>
          <?php endif ?>
        </select>
      </div>
    </div>

    <div class="form-group">
      <label for="inputUserHost" class="col-sm-2 control-label">HostName</label>
      <div class="col-sm-10">
        <input type="text" class="form-control" id="inputUserHost" name="inputUserHost" value='<?php echo $User["Host"] ?>' placeholder="The User HostName">
      </div>
    </div> 

    <div class="form-group">
      <label for="inputUserMaxConnection" class="col-sm-2 control-label">MaxConnection</label>
      <div class="col-sm-10">
        <input type="Number" class="form-control" id="inputUserMaxConnection" name="inputUserMaxConnection" value='<?php echo $User["MaxConnection"] ?>' placeholder="Max Number of Connections" required>
      </div>
    </div>   

    <div class="form-group">
      <label for="inputUserExpireDate" class="col-sm-2 control-label">Validity</label>
      <div class="col-sm-10">
        <select class="form-control" id="inputUserExpireDate" name="inputUserExpireDate">
          <option value="1">1 day</option>
          <option value="31">31 days - 1 month</option>
          <option value="93">93 days - 3 months</option>
          <option value="186">186 days - 6 months</option>
          <option value="365" selected="">365 days -  years</option>
        </select>
      </div>
    </div>     

    <div class="form-group">
      <label for="ExpireDate" class="col-sm-2 control-label">ExpireDate</label>
      <div class="col-sm-10">
        <input type="text" class="form-control" id="ExpireDate" name="ExpireDate" value='<?php echo $User["ExpireDate"] ?>' placeholder="ExpireDate" disable>
      </div>  
    </div>

    <?php if ( $User["Type"] != "SU"  ): ?>
    <div class="form-group">
      <label for="InputUserCategory" class="col-sm-2 control-label">UserCategory</label>
      <div class="col-sm-10">
        <select class="form-control" id="InputUserCategory" name="InputUserCategory[]" multiple="multiple">
        <?php foreach($data['AllCategory'] as $Category) { ?>
          <?php if ( $Category["Groups"]): ?>
            <?php if ( $Category["Groups"] != $group ): ?>
              </optgroup>
              <optgroup label='<?php echo $Category["Groups"] ?>'>
              <?php
                $pos = strpos($User["Category"], '-' . strval($Category["ID"]) . '-' );
              ?>
                <?php if ( $pos === false ): ?>
                  <option value='<?php echo $Category["ID"] ?>'><?php echo $Category["TEXT"] ?></option>
                <?php else: ?>
                  <option value='<?php echo $Category["ID"] ?>' selected><?php echo $Category["TEXT"] ?></option>
                <?php endif ?>
            <?php else: ?>
              <?php
                $pos = strpos($User["Category"], '-' . strval($Category["ID"]) . '-' );
              ?>
                <?php if ( $pos === false ): ?>
                  <option value='<?php echo $Category["ID"] ?>' ><?php echo $Category["TEXT"] ?></option>
                <?php else: ?>
                  <option value='<?php echo $Category["ID"] ?>' selected><?php echo $Category["TEXT"] ?></option>
                <?php endif ?>
              <?php
                $group = $Category["Groups"];
              ?>                    
            <?php endif ?>
<!--               <?php if ( $Category["Groups"] != $group ): ?> -->
                <!-- </optgroup> -->
              <!-- <?php endif ?>    -->          
          <?php endif ?>
        <?php } ?>
        </select> 
      </div> 
    </div> 
    <?php endif ?>   

    <div class="form-group">
      <div class="col-sm-offset-2 col-sm-10">
        <button type="submit" class="btn btn-default">Update this User </button>
      </div>
    </div>
  </form>

<?php } ?>
</div>