<!-- Admin Users -->
<div class="panel panel-default">
	<div class="panel-heading">
		Administrators
	</div>
	<div class="panel-body">
		<table class="table table-hover table-bordered small"> 
			<thead>
				<th>User</th>
				<th>Host</th>
				<th>Type</th>
				<th>LastConnection</th>
				<th>CreatedBy</th>
				<th>CreatedOn</th>
				<th>Edit</th>
				<th>Disable</th>
				<th>Delete</th>
			</thead>
		<?php foreach($data['SuperUsers'] as $SuperUser) { ?>
				<tbody>
					<tr>
						<td><?php echo $SuperUser["User"] ?></td>
						<td><?php echo $SuperUser["Host"] ?></td>
						<td><?php echo $SuperUser["Type"] ?></td>
						<td><?php echo $SuperUser["LastConnection"] ?></td>
						<td><?php echo $SuperUser["CreatedBy"] ?></td>
						<td><?php echo $SuperUser["CreatedOn"] ?></td>
						<td><a class="btn btn-default" href=<?php echo Controller::GetBaseUrl() ."users" . DS . "edit" . DS . $SuperUser["ID"] ?> ><i class="fa fa-pencil-square-o fa-lg"></i></a></td>
						<td><a class="btn btn-default" href=<?php echo Controller::GetBaseUrl() ."users" . DS . "deactivate" . DS . $SuperUser["ID"] ?> ><i class="fa fa fa-unlock fa-lg"></i></a></td>
						<td><a class="btn btn-danger" href=<?php echo Controller::GetBaseUrl() ."users" . DS . "delete" . DS . $SuperUser["ID"] ?> ><i class="fa fa-trash-o fa-lg"></i></a></td>
					</tr>
				</tbody>
		<?php } ?>	
		</table>
	</div>
</div>

<!-- Users -->
<div class="panel panel-default">
	<div class="panel-heading">
		Users
	</div>
	<div class="panel-body">
		<table class="table table-hover table-bordered small"> 
			<thead>
				<th>User</th>
				<th>Password</th>
				<th>Host</th>
				<th>Status</th>
				<th>ExpireDate</th>
				<th>MaxConnection</th>
				<th>ActiveConnection</th>
				<th>LastConnection</th>
				<th>UpdatedBy</th>
				<th>UpdatedOn</th>
				<th>Download</th>
				<th>Edit</th>
				<th>Disable</th>
				<th>Delete</th>
			</thead>
		<?php foreach($data['Users'] as $User) { ?>
				<tbody>
					<tr>
						<td><?php echo $User["User"] ?></td>
						<td><?php echo $User["Password"] ?></td>
						<td><?php echo $User["Host"] ?></td>
						<td><?php echo $User["Status"] ?></td>
						<td><?php echo $User["ExpireDate"] ?></td>
						<td><?php echo $User["MaxConnection"] ?></td>
						<td><?php echo $User["ActiveConnection"] ?></td>
						<td><?php echo $User["LastConnection"] ?></td>
						<td><?php echo $User["UpdatedBy"] ?></td>
						<td><?php echo $User["UpdatedOn"] ?></td>
						<td><a class="btn btn-default" href=<?php echo Config::get('base_url') ."users" . DS . "download" . DS . $User["ID"] ?> ><i class="fa fa-arrow-circle-o-down fa-lg"></i></a></td> 
						<td><a class="btn btn-default" href=<?php echo Config::get('base_url') ."users" . DS . "edit" . DS . $User["ID"] ?> ><i class="fa fa-pencil-square-o fa-lg"></i></a></td>
						<td><a class="btn btn-default" href=<?php echo Config::get('base_url') ."users" . DS . "deactivate" . DS . $User["ID"] . DS . $User["Status"] ?> ><i class="fa fa fa-unlock fa-lg"></i></a></td>
						<td><a class="btn btn-danger" href=<?php echo Config::get('base_url') ."users" . DS . "delete" . DS . $User["ID"] ?> ><i class="fa fa-trash-o fa-lg"></i></a></td>
					</tr>
				</tbody>
		<?php } ?>	
		</table>
	</div>
</div>