<body>
  <div class='container marketing'>
    <div class='blokright'>
      <div class="panel-group">

        <div class="panel panel-default">
          <div class="panel-heading">
            <i class="fa fa-sign-in"></i> Connect to the Panel
          </div>
          <div class="panel-body">

            <form action="." method="POST">

              <div class="form-group">
                <label for="inputUserName" class="col-sm-2 control-label">UserName</label>
                <div class="col-sm-10">
                  <input name="inputUserName" type="text" class="form-control" id="inputUserName" >
                </div>
              </div>

              <div class="form-group">
                <label for="inputUserPassword" class="col-sm-2 control-label">UserPassword</label>
                <div class="col-sm-10">
                  <input name="inputUserPassword" type="password" class="form-control" id="inputUserPassword" >
                </div>
              </div>   

              <div class="form-group">
                <div class="col-sm-offset-2 col-sm-10">
                  <button type="submit" class="btn btn-default"> Connect </button>
                </div>
              </div>             
            </form>

          </div>
        </div>
      </div>
    </div>
  </div>
</body>