<script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
<script src="//ajax.googleapis.com/ajax/libs/jqueryui/1.11.3/jquery-ui.min.js"></script>

<!-- Latest compiled and minified JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>

<!-- list.js - http://www.listjs.com/ -->
<script src="//cdnjs.cloudflare.com/ajax/libs/list.js/1.1.1/list.min.js"></script>
<script src="http://listjs.com/no-cdn/list.js"></script>

<script type="text/javascript" src="/myiptv/js/jquery.multiselect.js"></script>

<script type="text/javascript" src="/myiptv/js/perso.js"></script>

<!-- <script type="text/javascript" src="/myiptv/js/combobox.js"></script>

<script type="text/javascript" charset="utf-8">
  var no = new ComboBox('cb_identifier');
</script> -->




