<?php //session_start(); ?>
<div class="container">
<!--   <h2>Alerts</h2> -->
<!--   <p>The .fade and .in classes adds a fading effect when closing the alert message.</p> -->
<!--   <div class="alert alert-success fade in">
    <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
    <strong>Success!</strong> This alert box could indicate a successful or positive action.
  </div>
  <div class="alert alert-info fade in">
    <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
    <strong>Info!</strong> This alert box could indicate a neutral informative change or action.
  </div>
  <div class="alert alert-warning fade in">
    <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
    <strong>Warning!</strong> This alert box could indicate a warning that might need attention.
  </div>
  <div class="alert alert-danger fade in">
    <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
    <strong>Danger!</strong> This alert box could indicate a dangerous or potentially negative action.
  </div> -->

<?php
      //echo $_SESSION['message'];
      //unset($_SESSION['message']);
      //var_dump($_SESSION['message']);
?>




  <?php foreach($_SESSION['message'] as $message){ ?> 
      
    <?php
        if ($message[0] == 'S')
        {
          $class = "alert alert-success fade in";
          $mess  = "Success!";
        }
        elseif ($message[0] == 'W')
        {
          $class = "alert alert-warning fade in";
          $mess  = "Warning!";
        }
        elseif ($message[0] == 'E')
        {
          $class = "alert alert-danger fade in";
          $mess  = "Danger!";
        }
        elseif ($message[0] == 'I')
        {
          $class = "alert alert-info fade in";
          $mess  = "Info!";
        }  
       
        $text = $message[1];
    ?>               

      <div class='<?php echo $class ?>'>
        <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
        <strong><?php echo $mess ?></strong> <?php echo $text ?>
      </div> 
  <?php } ?>       

<?php
      //echo $_SESSION['message'];
      unset($_SESSION['message']);
      //var_dump($_SESSION)
?>         

</div>