<div class="navbar-wrapper">
      <div class="container">

        <nav class="navbar navbar-inverse navbar-static-top">
          <div class="container">
            <div class="navbar-header">
              <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
              </button>
                <a class="navbar-brand" href=<?php echo Controller::GetBaseUrl() ?> > <?php echo Config::get('site_name') ?></a>
            </div>
            
            <div id="navbar" class="navbar-collapse collapse">
              <ul class="nav navbar-nav">
                <li id="menu_stream"><a href="#" > <i class="fa fa-television"> <?php echo navbar_0 ?></i></a>
                  <ul>
                    <li><a href=<?php echo Controller::GetBaseUrl() ."streams" ?>><?php echo navbar_0_001 ?></a></li>
                    <li><a href=<?php echo Controller::GetBaseUrl() ."streams" . DS . "createstream" . DS . " " ?>><?php echo navbar_0_002 ?></a></li>
                    <li><a href=<?php echo Controller::GetBaseUrl() ."streams" . DS . "assigncategory" . DS . "un"  ?>><?php echo navbar_0_008 ?></a></li>
                    <li><a href=<?php echo Controller::GetBaseUrl() ."streams" . DS . "start" . DS . "all"  ?>><?php echo navbar_0_003 ?></a></li>
                    <li><a href=<?php echo Controller::GetBaseUrl() ."streams" . DS . "stop" . DS . "all"  ?>><?php echo navbar_0_004 ?></a></li>
                    <li><a href=<?php echo Controller::GetBaseUrl() ."streams" . DS . "status" . DS . "all"  ?>><?php echo navbar_0_005 ?></a></li>
                  </ul>
                </li>

                <li id="menu_cat"><a href="#"><i class="fa fa-tags" aria-hidden="true"> <?php echo navbar_4 ?></i></a>
                  <ul>
                    <li><a href=<?php echo Controller::GetBaseUrl() ."streams" . DS . "viewallcategory"  ?>><?php echo navbar_4_001 ?></a></li>
                    <li><a href=<?php echo Controller::GetBaseUrl() ."streams" . DS . "createcategory"  ?>><?php echo navbar_4_002 ?></a></li>  
                    <li><a href=<?php echo Controller::GetBaseUrl() ."streams" . DS . "assigncategory" . DS . "all"  ?>><?php echo navbar_4_003 ?></a></li>                
                  </ul>
                </li>

                <li id="menu_peers"><a href="#" > <i class="fa fa-exchange"> <?php echo navbar_1 ?></i></a>
                  <ul>
                    <li><a href=<?php echo Controller::GetBaseUrl() ."peers" ?>> <?php echo navbar_1_001 ?></a></li>
                    <li><a href=<?php echo Controller::GetBaseUrl() ."peers" . DS . "create" ?>> <?php echo navbar_1_002 ?></a></li>
                  </ul>
                </li>
                <li id="menu_users"><a href="#" > <i class="fa fa-users"> <?php echo navbar_2 ?></i></a>
                  <ul>
                    <li><a href=<?php echo Controller::GetBaseUrl() ."users" ?>> <?php echo navbar_2_001 ?></a></li>
                    <li><a href=<?php echo Controller::GetBaseUrl() ."users" . DS . "add" ?>> <?php echo navbar_2_002 ?></a></li>
                  </ul>

                </li>
                <li id="menu_settings"><a href=<?php echo Controller::GetBaseUrl() ."settings" ?> > <i class="fa fa-cog"> <?php echo navbar_3 ?></i></a></li>
<!--                 <li class="dropdown">
                  <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Functions <span class="caret"></span></a>
                  <ul class="dropdown-menu">
                    <li class="dropdown-header">Streams Status</li>
                      <li><a href="CheckStreams.php">Main Streams Status</a></li>
                      <li><a href="CheckBackupStreams.php">Backup Streams Status</a></li>
                    <li role="separator" class="divider"></li>
                    <li class="dropdown-header">Add</li>
                      <li><a href="#">Add Streams</a></li>
                      <li><a href="#">Add Backup Streams</a></li>
                      <li><a href="#">Add Peers</a></li>
                  </ul>
                </li> -->               
              </ul>
              <ul class="nav navbar-nav navbar-right"> 

                <li> <a class="pull-left"><strong><i class="fa fa-language fa-2x"></i></strong></a> </li>
                <?php 
                  $AvailableLang = Config::get('languages'); 
                ?>
                <li> 
                <?php foreach($AvailableLang as $Lang) { ?>
                  <a class="nowrap" href=<?php echo Controller::GetLangUrl($Lang)?> > <?php echo $Lang; ?> </a>
                  
                <?php } ?>
<!--                     <a class="nowrap" href=<?php echo Controller::GetLangUrl("fr")?> > FR </a>  
                    <a class="nowrap">|</a> 
                    <a class="nowrap" href=<?php echo Controller::GetLangUrl("en")?> > EN </a></li> -->
                <li> <a class="pull-left">Welcome <?php echo $_SESSION["User"];  ?></a></li>
                <li> <a class="nowrap" href=<?php echo Controller::GetBaseUrl() ."users" . DS . "logout" ?> <strong><i class="fa fa-sign-out"></i></strong></a></li> 
                <li>&nbsp; &nbsp; &nbsp; &nbsp;</li>
              </ul>

            </div>
          </div>
        </nav>

      </div>
    </div>